<% content_for(:html_title) { @platform.name } %>

<h3>Games for <%= @platform.name %>:</h3>
<ul>
    <% @games.each do |game| %>
        <li><%= link_to game.name, game %></li>
    <% end %>
</ul>
<hr>
<%= will_paginate @games %>
