<% content_for(:html_title) { 'Publishers' } %>

<h3>Publishers</h3>
<ul>
    <% @publishers.each do |publisher| %>
        <li><%= link_to publisher.name, publisher %></li>
    <% end %>
</ul>
<hr>
<%= will_paginate @publishers %>