<h3><%= @search ? "Games found for '#{@search_term}':" : "All Video Games" %></h3>
<ul>
    <% @games.each do |game| %>
        <li><%= link_to game.name, game %></li>
    <% end %>
</ul>
<hr>
<%= will_paginate @games %>
