<aside>
    <div class="row">
        <div class="twelve columns">
            <ul class="navbar-list search">
                <li class="navbar-item">
                    <%= form_for "", url: games_path, role: "search", method: :get do %>
                        <% text_field_tag :search, @search_term, placeholder: "Search games..." %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h4>Genres: </h4>
            <ul>
                <% @sidebar_genres.each do |sidebar_genre| %>
                    <li class="sidebar-tags capitalize">
                        <%= link_to sidebar_genre.name, sidebar_genre %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h4>Top 20 Games: </h4>
            <ul>
                <% @sidebar_games.each do |sidebar_game| %>
                    <li>
                        <%= link_to sidebar_game.name, sidebar_game %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</aside>